//colors

$clr-basic-yellow: #F2D388;
$clr-basic-yellow-hover: #F4C962;
$clr-basic-turq: #A7D2CB;
$clr-black: #000;
$clr-white: #fff;
$clr-basic-red: #C98474;
$clr-button-red: #874C62;


$clr-bck-todo: #D7FFC3;
$clr-bck-calc: #F2D388;
$clr-bck-ip: #88D9F2;
$clr-bck-gen: #F29B88;


$clr-skill-green: #DEFF5B;
$clr-skill-orange: #FCAA7C;
$clr-skill-red: #D38D8D;

$clr-card-red: #874C62;
$clr-card-orange: #BE6D5A;